@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  line-height: 1;
}

body {
  background-color: #212121;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

h1 {
  color: #ffdc81;
  font-weight: 700;
}

.main-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lock {
  position: relative;
}

.lock-img {
  max-width: 194px;
  max-height: 254px;
}

.number-inputs-container {
  position: absolute;
  top: 150px;
  left: 7px;
  max-width: 180px;
}

.number-input {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  padding-left: 20px;
}

.number-input:last-of-type {
  margin-right: 0;
}

.buttons {
  margin-top: 20px;
}

.reset,
.try {
  height: 30px;
  background-color: #d9d9d9;
  border: 1px solid #6d6d6d;
  border-radius: 6px;
  margin: 0;
  padding: 0;
}

.try {
  width: 100px;
}

.reset {
  width: 40px;
  margin-right: 15px;
}

.start {
  margin-top: 20px;
  width: 100%;
  height: 35px;
  background-color: #ffdc81;
  border: 1px solid #d26a0a;
  border-radius: 6px;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.hint {
  position: relative;
  display: block;
  margin: 100px auto;
  width: 240px;
  height: 240px;
  background-color: #d9d9d9;
  border: 2px solid #6d6d6d;
  border-radius: 6px;
}

.close-hint {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;

  @media screen and (max-width: 768px) {
    border-radius: 3px;
  }
}

.close-img {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 24px;
  height: 24px;

  @media screen and (max-width: 768px) {
    top: 0;
    right: 0;
  }
}

.messages {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}
